.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-game-container label {
  display: block;
  margin-bottom: 10px;
}

.add-game-button {
  background-color: #031120;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.add-game-button:hover {
  background-color: #0062cc;
}

.update-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.update-score-button {
  background-color: #aab71a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.update-score-button:hover {
  background-color: #8c9c0e;
}

.remove-game-button {
  background-color: #740d0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.remove-game-button:hover {
  background-color: #a40d0d;
}
